@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Menu</h2>
    <ol>
        <li>@Html.ActionLink("List Available Cars", "AvailableCars", "Car")</li>
        <li>@Html.ActionLink("Register new Customer", "Create", "Customer")</li>
        <li>@Html.ActionLink("Update Customer", "Update", "Customer")</li>
    </ol>
</div>